/* wrapper widht to 80% and center content */
#wrapper{
    width: 80%;
    margin: 0 auto;
}
/* header setup with padding font size and timer */
header{
    padding:20px
}
header h1{
    font-size: 30px;
}
header .timer{
    font-size: 20px;
    text-align: right;
}
/* end header formating */

/* hide divs that need to be hidden at start */
.questions, .question, #ans-footer, #end{
    display: none;
}
/* set color for current qustion counter */
#current-q{
    color:red
}
/* center the card footer text displaying the error/success message */
.card-footer{
    text-align: center;
}
/* Question type setting it to block and increasing font size */
.q-type{
    display: block;
    font-size: larger;
}
/* adding text using the sudo query */
.question button:before{
    content: "Answer: ";
}
/* question button formating */
.question button{
    display: block;
    margin: 10px;
}
/* overide the bootstrap dark button */
.bg-dark{
    margin:0px 0px 20px 0px;
    color: white;
}
