#wrapper{
    width: 80%;
    margin: auto;
}
header{
    padding:20px
}
header h1{
    font-size: 30px;
}
header .timer{
    font-size: 20px;
    text-align: right;
}
header .timer-last-10{
    color:red;
}
.questions{
    display: none;
}
.question{
    display: none;
}
#current-q{
    color:red
}
.card-footer{
    text-align: center;
}
.q-type{
    display: block;
    font-size: larger;
}
.question button:before{
    content: "Answer: ";
}
.question button{
    display: block;
    margin: 10px;
}
#ans-footer{
    display:none
}
.bg-dark{
    margin:0px 0px 20px 0px;
    color: white;
}
#end{
    display: none;
}